@use 'components/buttons';
@use 'components/inputs';
@use 'components/cards';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom variables
:root {
  --primary-color: #3b82f6;
  --secondary-color: #1e293b;
}

// Custom styles
@layer base {
  html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }

  body {
    @apply bg-slate-100 text-slate-900;
    min-height: 100vh;
  }
}

// Custom components
@layer components {
}
